---
---

@import "{{ site.theme }}";

#forkme_banner {
  background-color: hsl(179,88%,24%);
}

section#main-content .inner a {
  text-decoration: underline !important;
  color: hsl(179,88%,24%) !important;
}

section#main-content .inner a:hover {
  text-decoration: none !important;
}