---
---

@import "{{ site.theme }}";

#forkme_banner {
  background-color: hsl(179,88%,24%);
}

#main_content p:first-child {
  font-size: 0.6rem;
}

#main_content_wrap a {
  text-decoration: underline !important;
  color: hsl(179,88%,24%) !important;
}

#main_content_wrap a:hover,
#main_content_wrap a:focus {
  text-decoration: none !important;
}